#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <behaviors/rgbled_widget.dtsi>
#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/totem.h"

#define BASE    0
#define NAVNNUM 1
#define SYM     2
#define XTRA    3
#define HWA     4
#define HWB     5
#define HW      6

#define BACK LG(LBKT)
#define FWD LG(RBKT)

&sk {
    release-after-ms = <1000>;
    quick-release;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <NAVNNUM SYM>;
            then-layer = <XTRA>;
        };
        hidden_hw_layer {
            if-layers = <HWA HWB>;
            then-layer = <HW>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        base_layer {
            label = "BASE";
            bindings = <
                            &kp Q           &kp W           &kp E           &kp R           &kp T           &kp Y       &kp U           &kp I       &kp O       &kp P
                            &kp A           &kp S           &kp D           &kp F           &kp G           &kp H       &kp J           &kp K       &kp L       &kp SEMI
                &none       &kp Z           &kp X           &kp C           &kp V           &kp B           &kp N       &kp M           &kp COMMA   &kp DOT     &kp SQT             &none
                                                            &mo HWA         &mo NAVNNUM     &kp SPACE       &kp RSHFT   &mo SYM         &mo HWB
            >;
        };

        nav_n_num_layer {
            label = "NAVNNUM";
            bindings = <
                            &kp N1          &kp N2          &kp N3          &kp N4          &kp N5          &kp N6      &kp N7          &kp N8      &kp N9      &kp N0
                            &sk LSHFT       &sk LCTRL       &sk LALT        &sk LGUI        &none           &kp LEFT    &kp DOWN        &kp UP      &kp RIGHT   &kp BSPC
                &trans      &kp ESC         &kp TAB         &kp BACK        &kp FWD         &kp LPAR        &none       &none           &kp F12     &kp RET     &kp DEL             &trans
                                                            &trans          &trans          &trans          &trans      &trans          &trans
            >;
        };

        sym_layer {
            bindings = <
                            &kp EXCL        &kp AT          &kp HASH        &kp DLLR        &kp PRCNT       &kp CARET   &kp AMPS        &kp ASTRK   &kp LPAR    &kp RPAR
                            &sk LSHFT       &sk LCTRL       &sk LALT        &sk LGUI        &none           &kp PLUS    &kp MINUS       &kp EQUAL   &kp UNDER   &kp GRAVE
                &trans      &none           &kp LBRC        &kp RBRC        &none           &none           &none       &kp BSLH        &kp LBKT    &kp RBKT    &kp FSLH            &trans
                                                            &trans          &trans          &trans          &trans      &trans          &trans
            >;
        };

        xtra_layer {
            label = "XTRA";
            bindings = <
                            &kp F1          &kp F2          &kp F3          &kp F4          &kp F5          &kp F6      &kp F7          &kp F8      &kp F9          &kp F10
                            &sk LSHFT       &sk LCTRL       &sk LALT        &sk LGUI        &kp HOME        &kp PG_UP   &sk RGUI        &sk RALT    &sk RCTRL       &sk RSHFT
                &trans      &kp C_BRI_DN    &kp C_PREV      &kp C_PP        &kp C_NEXT      &kp END         &kp PG_DN   &kp C_VOL_DN    &kp C_MUTE  &kp C_VOL_UP    &kp C_BRI_UP    &trans
                                                            &trans          &trans          &trans          &trans      &trans          &trans
            >;
        };

        hw_step_a_layer {
            label = "HWA";
            bindings = <
                            &none           &none           &none           &none           &none           &none       &none           &none       &none           &none
                            &none           &none           &none           &none           &none           &none       &none           &none       &none           &none
                &trans      &none           &none           &none           &none           &none           &none       &none           &none       &none           &none           &trans
                                                            &trans          &trans          &trans          &trans      &trans          &trans
            >;
        };

        hw_step_b_layer {
            label = "HWB";
            bindings = <
                            &none           &none           &none           &none           &none           &none       &none           &none       &none           &none
                            &none           &none           &none           &none           &none           &none       &none           &none       &none           &none
                &trans      &none           &none           &none           &none           &none           &none       &none           &none       &none           &none           &trans
                                                            &trans          &trans          &trans          &trans      &trans          &trans
            >;
        };

        hw_layer {
            label = "HW";
            bindings = <
                            &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4    &bt BT_CLR  &bt BT_CLR_ALL  &none       &none           &none
                            &bootloader     &out OUT_TOG    &none           &none           &none           &none       &none           &none       &none           &none
                &trans      &sys_reset      &none           &none           &none           &none           &none       &none           &none       &ind_bat        &ind_con           &trans
                                                            &trans          &trans          &trans          &trans      &trans          &trans
            >;
        };
    };
};
